model_config_list: {

    config: {
      name: "varcnnlstm"
      base_path: "/models/varcnnlstm"
      model_platform: "tensorflow"
    },
    config: {
      name: "varlstm"
      base_path: "/models/varlstm"
      model_platform: "tensorflow"
    },
        config: {
      name: "vanillalstm"
      base_path: "/models/vanillalstm"
      model_platform: "tensorflow"
    }
}


