@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #eff2f5;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.sideBar {
    position: relative;
    z-index: 20;
    height: 100vh;
    width: 25%;
    color: #fbaf7b;

    font_family: Rockwell;
    font-style: italic;
    font-weight: bold;
    font-size:125%;
    background-color: #212529;
    transition: 0.3s ease-in-out;
}

.sideBar.widthChange {
    width: 8%;
    text-align: center;
}

.sideBar img {
    position: absolute;
    height: 100%;
    width :40%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sideBar div {
    position: relative;
    height: 10vh;
    background-color: #212529;
}

.sideBar li {
    padding: 20px 20px 20px 10px;
    transition: 0.3s ease-in-out;
    text-align:center;
}

li label.hideMenuList {
    display: none;
}

.sideBar li i {
    margin-right: 8px;
}

.sideBar li:hover {
    background-color: #e3dcd7;
}

.selected {
    background-color: #e3dcd7;
}

.sideBar span {
    position: absolute;
    color: #ffffff;
    top: 20px;
    right: 20px;
}

.sideBar .cross-icon {
    display: none;
    color: #001629;
}

.sidebar-header {
    display: flex;
}

.content {
    width: 100%;
    height: 100vh;
}

header {
    background-color: #212529;
    height: 10%;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mobile {
    display: none;
}

.menu-button {
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.menu-button div:nth-child(1) {
    position: absolute;
    height: 4px;
    border-radius: 20px;
    background-color: #c7c7c7;
    width: 100%;
}

.menu-button div:nth-child(2) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    border-radius: 20px;
    background-color: #c7c7c7;
    width: 80%;
}

.menu-button div:nth-child(3) {
    position: absolute;
    height: 4px;
    border-radius: 20px;
    bottom: 0;
    background-color: #c7c7c7;
    width: 100%;
}

header img {
    height: 40px;
    border-radius: 100%;
}

header h1 {
    color: #fbaf7b;
}

.content-data {
    background-color: #ffffff;
    margin: 2%;
    padding: 20px;
    height: 84%;
    overflow-y: auto;
}
.content-data ul li {
padding: 20px;

}

.sideBar.showMenu {
    left: 0;
}
.unordered_list{
    margin-top:20%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ccc;
}

::-webkit-scrollbar-thumb {
    background: #fbaf7b;
}

@media(max-width:1200px) {
    .sideBar {
        width: 30%;
    }
}

@media(max-width:900px) {
    #desktop {
        display: none;
    }

    #mobile {
        display: block;
    }

    .sideBar {
        position: absolute;
        width: 30%;
        top: 0;
        left: -100%;
    }

    .sideBar .cross-icon {
        display: block;
    }

    .backdrop {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
    }

    .backdrop.showBackdrop {
        left: 0;
    }
}

@media(max-width:700px) {
    .sideBar {
        width: 40%;
    }
}

@media(max-width:400px) {
    .sideBar {
        width: 60%;
    }

    header h1 {
        font-size: 20px;
    }

    #mobile {
        height: 25px;
    }
}

@media(max-width:320px) {
    .sideBar {
        width: 80%;
    }
}
.no-underline:link {
  text-decoration: none;
   color: #fbaf7b;
 }
.no-underline:hover{
  text-decoration: none;
   color: #fbaf7b;

 }
 .no-underline:active{
  text-decoration: none;
   color: #fbaf7b;
 }
 .no-underline:visited {
  text-decoration: none;
   color: #fbaf7b;
 }